<div _ngcontent-esr-c5="" class="col-md-6 offset-md-3 mt-5">
    <h4 _ngcontent-esr-c5="" class="border-bottom mb-3">Register</h4>
    <form _ngcontent-esr-c5="" action="#">
        <div _ngcontent-esr-c5="" class="input-group mb-3">
            <div _ngcontent-esr-c5="" class="input-group-prepend"><span _ngcontent-esr-c5=""
                    class="input-group-text">First and last name</span></div><input _ngcontent-esr-c5=""
                aria-label="First name" class="form-control" placeholder="First Name" type="text"><input
                _ngcontent-esr-c5="" aria-label="Last name" class="form-control" placeholder="Last Name" type="text">
        </div>
        <div _ngcontent-esr-c5="" class="input-group mb-3">
            <div _ngcontent-esr-c5="" class="input-group-prepend"><span _ngcontent-esr-c5=""
                    class="input-group-text">Email</span></div><input _ngcontent-esr-c5="" class="form-control"
                placeholder="Enter Email Address" type="text">
        </div>
        <div _ngcontent-esr-c5="" class="input-group mb-3">
            <div _ngcontent-esr-c5="" class="input-group-prepend"><span _ngcontent-esr-c5=""
                    class="input-group-text">DOB</span></div><input _ngcontent-esr-c5="" class="form-control"
                type="date">
        </div>
        <div _ngcontent-esr-c5="" class="input-group mb-3">
            <div _ngcontent-esr-c5="" class="input-group-prepend"><span _ngcontent-esr-c5=""
                    class="input-group-text">Password</span></div><input _ngcontent-esr-c5="" class="form-control"
                placeholder="Enter Password" type="password">
        </div>
        <div _ngcontent-esr-c5="" class="btn-group float-right"><button _ngcontent-esr-c5=""
                class="btn btn-outline-dark" type="reset">Reset</button><button _ngcontent-esr-c5=""
                class="btn btn-outline-primary" type="submit">Register</button></div>
    </form>
</div>