<div _ngcontent-esr-c6="" class="col-md-6 offset-md-3 mt-5">
        <h5 _ngcontent-esr-c6="" class="mb-3 border-bottom">Login</h5>
        <form _ngcontent-esr-c6="">
                <div _ngcontent-esr-c6="" class="form-group"><label _ngcontent-esr-c6="" for="exampleInputEmail1">Email
                                address</label><input _ngcontent-esr-c6="" aria-describedby="emailHelp"
                                class="form-control" id="exampleInputEmail1" placeholder="Enter email"
                                type="email"><small _ngcontent-esr-c6="" class="form-text text-muted"
                                id="emailHelp"></small></div>
                <div _ngcontent-esr-c6="" class="form-group"><label _ngcontent-esr-c6=""
                                for="exampleInputPassword1">Password</label><input _ngcontent-esr-c6=""
                                class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                </div>
                <button _ngcontent-esr-c6="" class="btn btn-primary" type="submit">Submit</button>
        </form>
</div>