<form class="col-md-4 offset-md-4">
  <br>  <h3>Login</h3> <br>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"
            pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
            #email='ngModel' ngModel placeholder="Enter email" required class="form-control">
        <div class="text-danger" *ngIf='email.touched && email.invalid'>
            <div class="text-danger" *ngIf='email.errors.pattern'>
                Enter valid email
            </div>
            This field is mandatory
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" minlength="8" #password='ngModel' ngModel id="password"
            placeholder="Enter password" required class="form-control">
        <div class="text-danger" *ngIf='password.touched && password.invalid'>
            <div class="text-danger" *ngIf='password.errors.minlength'>
                Password should be minimum 8 characters
            </div>
            This field is mandatory
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>