<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>webapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextParam</param-name>
		<param-value>1234</param-value>
	</context-param>
	<servlet>
		<servlet-name>date</servlet-name>
		<servlet-class>com.cap.webapp.servlets.DateServlet</servlet-class>
		<init-param>
			<param-name>ConfigParam</param-name>
			<param-value>abcde</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>date</servlet-name>
		<url-pattern>/date123</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>emp</servlet-name>
		<servlet-class>com.cap.webapp.servlets.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emp</servlet-name>
		<url-pattern>/getemp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginFormJsp</servlet-name>
		<jsp-file>/loginForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginFormJsp</servlet-name>
		<url-pattern>/loginFormJsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchFormJsp</servlet-name>
		<jsp-file>/searchEmp.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchFormJsp</servlet-name>
		<url-pattern>/searchEmpJsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>insertEmployee</servlet-name>
		<jsp-file>/insertEmployee.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>insertEmployee</servlet-name>
		<url-pattern>/insertEmployeeJsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delEmployee</servlet-name>
		<jsp-file>/deleteEmp.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>delEmployee</servlet-name>
		<url-pattern>/deleteEmployeeJsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getAllEmployee</servlet-name>
		<jsp-file>/getAllEmp.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAllEmployee</servlet-name>
		<url-pattern>/getEmployeeJsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>home</servlet-name>
		<jsp-file>/homePage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/homePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>update</servlet-name>
		<jsp-file>/updateEmp.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
</web-app>