<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="bean" class="com.cap.springcore.beans.BeanPostProcessorClass"></bean>
    <bean id="factorybean" class="com.cap.springcore.beans.BeanFactoryPostProcessorClass"></bean>
    <bean id="hello" class="com.cap.springcore.beans.Hello"> 
     <property name="message" value="java"></property>
     <property name="count" value="10"></property> 
<!--      <constructor-arg name="message" value="java1"></constructor-arg>
     <constructor-arg name="count" value="100"></constructor-arg> -->
     </bean>
     <bean id="cat" class="com.cap.springcore.beans.Cat" primary="true"></bean>
	<bean id="animal" class="com.cap.springcore.beans.Dog"></bean>
	<bean id="pet" class="com.cap.springcore.beans.Pet" autowire="byName">
<!-- 	<constructor-arg name="name" value="doggy"></constructor-arg> -->
	<property name="name" value="Jimmy"></property>
<!-- 	<property name="animal" ref="dog"></property> -->
	</bean>
    </beans>
    